<footer>
    <div class="d-flex boxFooter">
        <div class="logoContainer mt-3">
            <img src="assets/logo_completo_blanco.png">
        </div>
        <div class="contactContainer">
            <p class="mb-4 fs-4 title contact">Contact</p>
            <div class="line w-100"></div>
            <p class="mb-1 mt-4 title name">Alci Estupinam</p>
            <div class="d-flex">
                <i class="fa-brands fa-instagram d-flex my-auto"></i>
                <p class="mb-0 ml-2 title">{{instagram}}</p>
            </div>
        </div>
    </div>
</footer>
