<footer>
    <div class="d-flex boxFooter">
        <div class="logoContainer mt-3">
            <img src="assets/logo_completo_blanco.png">
        </div>
        <div class="contactContainer">
            <p class="mb-4 fs-4 title contact">Contact</p>
            <div class="line w-100"></div>
            <div class="d-flex mt-4">
                <a href="https://www.instagram.com/aep.architecture" target="_blank" rel="noopener noreferrer" class="d-flex text-white text-decoration-none">
                    <i class="fa-brands fa-instagram d-flex my-auto"></i>
                </a>
                <a href="https://www.facebook.com/aep.architecture" target="_blank" rel="noopener noreferrer" class="facebook d-flex text-white text-decoration-none">
                    <i class="fa-brands fa-facebook-f d-flex my-auto"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
