footer {
  background-color: #1e1e1a;
  color: #eee;
  padding: 50px;
  padding-right: 0px !important;
  @media (max-width: 600px){
    padding: 45px;
  }
  .logoContainer{
    width: 25%;
    img{
      width: 170px;
      display: flex;
      margin: auto;
      @media (max-width: 600px){
        width: 100px;
      }
    }
  }
  .contactContainer{
    width: 75%;
     @media (max-width: 600px){
      margin-left: 50px;
    }
    .title{
      font-family: 'Raleway';
      font-weight: 700;
    }
    .line{
        border-bottom: 1px solid white;
    }
    a{
      border-radius: 50px;
      border: 1px solid white;
      width: 40px;
      height: 40px;
    }
    i {
        font-size: 23px;
        margin-right: 7px;
        cursor: pointer;
        display: flex;
        margin: auto;

    }
  }

  
}

.boxFooter{

}

.contact{
  @media (max-width: 600px){
    margin-bottom: 10px !important;
  }
}

.name{
  @media (max-width: 600px){
    margin-top: 0px !important;
  }
}

.facebook{
  margin-left: 1rem;
}

