
.navbar-brand {
  font-family: 'Arial Black', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 15px;
  width: 20%;
  text-align: center;
  .logo{
    width: 100px;
  }
}

.navbar-brand.d-lg-none {
  font-size: 1.5em;
}

.navbar-nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 400;
    @media (max-width: 991.98px) {
        width: unset;
    }
}

.navbar-collapse{
    padding: 30px 70px;
    @media (max-width: 991.98px) {
        padding: 0px;
    }
}