.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1A;
  .content{
    .boxPictures{
      @media (max-width: 600px){
           margin-top: 65px;
      }
    }
    .textBox{
        background-color: #1E1E1A;
        padding: 150px;
        p{
            line-height: 1.2;
            color: white
        }
    }
    .boxProjects{
        padding-left: 60px;
        padding-right: 60px;
        @media (max-width: 600px){
           padding-left: 0px;
           padding-right: 0px;
        }
        height: auto;
        .project{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 1fr;
          align-items: stretch;
          grid-auto-rows: minmax(auto, 1fr);
          @media (max-width: 600px){
              display: block !important;
          }
          .boxInfo{
              background-color: white;
              padding: 2.5vw;
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: center;
              @media (max-width: 1270px) {
                  padding: 1.5vw;
              }
              @media (max-width: 600px){
                  padding: 20px
              }         
              .titleInfo{
                font-family: "Raleway";
                font-weight: 800;
                font-size: 2vw;
                @media (max-width: 600px){
                    font-size: 16px;
                }
              }
              .secondText{
                overflow-y: auto;
                .info{
                  font-family: "Raleway";
                  font-weight: 400;
                  font-size: 1vw;
                  overflow-y: auto;
                  margin-bottom: 0px !important;
                  @media (max-width: 600px){
                    font-size: 11px;
                  }
                }
              }
              
          }
        }
        
    }
    .finalText{
      padding: 150px;
      @media (max-width: 600px){
          padding: 40px
      } 
      p{
        font-family: 'Bakung'; 
        font-size: 5.2vw;
        line-height: 1;
        color: white;
        text-align: center;
      }
      .line{
        border-bottom: 1px solid white;
        display: flex;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        @media (max-width: 600px){
          margin-top: 40px
        } 
      }
    }
  }
}

.carousel-caption-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white; 
}


.marginb-60{
  margin-bottom: 60px;
}

.mobile{
  display: none !important;
  @media (max-width: 600px){
    display: block !important;
  } 
}

.desktop{
   @media (max-width: 600px){
    display: none !important;
  } 
}



