<section class="page-container">
    <app-header></app-header>
    <main class="content">
        <div class="boxPictures marginb-60 position-relative desktop">
        <!-- Carrusel -->
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/banner-portfolio-two.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/port2.jpg" class="d-block w-100" alt="Segunda foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/port3.jpg" class="d-block w-100" alt="Tercera foto del carrusel">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>

        <!-- Texto estático sobrepuesto -->
        <div class="carousel-static-caption position-absolute top-50 start-50 translate-middle text-center text-white">
            <h5 class="biggerTextBakung textImg mb-0">Portfolio</h5>
        </div>
        </div>
        <div class="boxPictures marginb-60 position-relative mobile">
        <!-- Carrusel -->
            <div id="carouselExampleRide23" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/mobile/BANNER-1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/mobile/BANNER-2.jpg" class="d-block w-100" alt="Segunda foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/mobile/BANNER-3.jpg" class="d-block w-100" alt="Tercera foto del carrusel">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide23" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide23" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Texto estático sobrepuesto -->
            <div class="carousel-static-caption position-absolute top-50 start-50 translate-middle text-center text-white">
                <h5 class="biggerTextBakung textImg mb-0">Portfolio</h5>
            </div>
        </div>
        <div class="d-flex titleCategoryProject">
            <p class="mb-0 me-3 flex-shrink-0">Our Proyects</p>
            <div class="lineGeneral lineTitle"></div>
        </div>
        <div class="boxProjects">
            <div class="project marginb-60">
                <div class="w-100">
                    <div id="carouselExampleRideTwo" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/611/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/611/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/611/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/611/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/611/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideTwo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideTwo" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo">
                    <p class="mb-0 titleInfo">611 Residential Design</p>
                    <p class="titleInfo">Austin, Texas</p>
                    <div class="secondText">
                        <p class="info">This custom designed single-family home in Austin, Texas, is an architectural and interior design 
                            project that blends contemporary form with warm natural textures. We were responsible for the 
                            complete architectural concept and interior layout, crafting a modern yet inviting space that 
                            responds to its wooded surroundings. The design features clean lines, a gabled roof form with wood 
                            slat cladding, and expansive glazing to maximize natural light. Thoughtfully integrated exterior 
                            lighting, open-plan interiors, and a soft material palette enhance both functionality and comfort, 
                            resulting in a refined modern home tailored to its environment.</p>
                    </div>
                </div>
            </div>

            <div class="project marginb-60">
                <div class="w-100 boxInfo desktop">
                    <p class="mb-0 titleInfo">110 Laurel</p>
                    <p class="titleInfo">Austin, Texas</p>
                    <div class="secondText">
                        <p class="info littleTextProjects">This custom landscape project brings a quiet corner to life using Texas native plants carefully 
                        selected for a narrow bed along a wooden fence. The design blends seasonal color, textural 
                        variety, and pollinator-friendly blooms like Purple Coneflower and Gregg’s Mistflower with soft 
                        grasses and vines to create vertical interest and movement. A mix of perennials, ground covers, 
                        and climbing vines were arranged to provide visual layers offering structure, softness, and 
                        seasonal rhythm. All plants were chosen for their resilience, low-maintenance needs, and 
                        ecological value, encouraging biodiversity while remaining water-wise. A small artistic touch a 
                        rustic vine basket anchors the front section, adding charm and personality to the planting. This is 
                        a great example of how even a narrow side yard can become a lush, welcoming moment with 
                        intentional design.</p>
                    </div>
                </div>
                <div class="w-100">
                    <div id="carouselExampleRideSeven1" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/LAUREL/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/6.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/7.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/8.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/LAUREL/9.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideSeven1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideSeven1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo mobile">
                    <p class="mb-0 titleInfo">Mi Momento – Nail Spa</p>
                    <p class="titleInfo">Jamundí, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in Jamundí, Colombia, Mi Momento is a commercial nail spa project where I led both the 
                            architectural and interior design. The concept was built around creating a calming, elegant, and 
                            contemporary environment tailored to enhance the client experience. Natural textures, warm 
                            wood finishes, and carefully integrated lighting define the atmosphere, while the layout optimizes 
                            flow, comfort, and functionality for both customers and staff. Every element from the custom 
                            pedicure stations to the shelving and lighting design was crafted to reflect the brand’s identity as a 
                            modern, welcoming space for self-care and relaxation.</p>
                    </div>
                </div>
            </div>

            <div class="project marginb-60">
                <div class="w-100">
                    <div id="carouselExampleRideFive" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/528-8/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/6.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/7.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/8.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528-8/9.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideFive" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideFive" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo desktop">
                    <p class="mb-0 titleInfo">528-8 Renovation</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">This luxury apartment renovation, located in Cali, Colombia. This design project focused on 
                        elevating everyday living through refined simplicity and timeless elegance. We were fully in 
                        charge of the architectural and interior design, carefully planning every detail, from layout 
                        optimization to the selection of materials and finishes. The concept combines a minimalist 
                        aesthetic with high-end features, including custom wood cabinetry, natural stone surfaces, 
                        and subtle lighting that enhances the warmth and sophistication of the space. The result is a 
                        functional and visually balanced home that seamlessly integrates luxury with comfort.</p>
                    </div>
                </div>

                <div class="w-100 boxInfo mobile">
                    <p class="mb-0 titleInfo">528-8 Renovation</p>
                    <p class="titleInfo">Medellín, Colombia</p>
                    <div class="secondText">
                        <p class="info">This luxury apartment renovation, located in Cali, Colombia, is a personal design project focused 
                            on elevating everyday living through refined simplicity and timeless elegance. I was fully in charge 
                            of the architectural and interior design, carefully planning every detail, from layout optimization to 
                            the selection of materials and finishes. The concept combines a minimalist aesthetic with high-end 
                            features, including custom wood cabinetry, natural stone surfaces, and subtle lighting that 
                            enhances the warmth and sophistication of the space. The result is a functional and visually 
                            balanced home that seamlessly integrates luxury with comfort.</p>
                    </div>
                </div>
            </div>
            
            <div class="project marginb-60">
                <div class="w-100 boxInfo desktop">
                    <p class="mb-0 titleInfo">Mi Momento – Nail Spa</p>
                    <p class="titleInfo">Jamundí, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in Jamundí, Colombia, Mi Momento is a commercial nail spa project where I led both the 
                            architectural and interior design. The concept was built around creating a calming, elegant, and 
                            contemporary environment tailored to enhance the client experience. Natural textures, warm 
                            wood finishes, and carefully integrated lighting define the atmosphere, while the layout optimizes 
                            flow, comfort, and functionality for both customers and staff. Every element from the custom 
                            pedicure stations to the shelving and lighting design was crafted to reflect the brand’s identity as a 
                            modern, welcoming space for self-care and relaxation.</p>
                    </div>
                </div>
                <div class="w-100">
                    <div id="carouselExampleRideSeven" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/momento/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/momento/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/momento/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/momento/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/momento/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/momento/6.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideSeven" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideSeven" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo mobile">
                    <p class="mb-0 titleInfo">Mi Momento – Nail Spa</p>
                    <p class="titleInfo">Jamundí, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in Jamundí, Colombia. Mi Momento is a commercial nail spa project where we led both 
                            the architectural and interior design. The concept was built around creating a calming, elegant, 
                            and contemporary environment tailored to enhance the client experience. Natural textures, warm 
                            wood finishes, and carefully integrated lighting define the atmosphere, while the layout optimizes 
                            flow, comfort, and functionality for both customers and staff. Every element from the custom 
                            pedicure stations to the shelving and lighting design was crafted to reflect the brand’s identity as a 
                            modern, welcoming space for self-care and relaxation</p>
                    </div>
                </div>
            </div>

            <div class="project marginb-60">
                <div class="w-100">
                    <div id="carouselExampleRideSix1" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/528/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/528/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideSix1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideSix1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo">
                    <p class="mb-0 titleInfo">Bocha Renovation</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">This kitchen renovation project, located in Cali, Colombia, is a complete architectural and interior 
                            design transformation led entirely. The design was developed from concept to execution, 
                            including spatial reconfiguration, custom cabinetry, and a curated materials mood board. The goal 
                            was to create a functional yet stylish kitchen that balances industrial elements with warm textures. 
                            Matte black fixtures, natural wood tones, exposed shelving, and integrated lighting come together 
                            to create a modern, inviting space tailored for everyday living and entertaining.</p>
                    </div>
                </div>
            </div>


            
        </div>
        <div class="d-flex titleCategoryProjectLeft">
            <div class="lineGeneral lineTitle"></div>
            <p class="mb-0 me-3 flex-shrink-0 ml-2">Collaborative Projects</p>
        </div>
        <div class="boxProjects">
            <div class="project marginb-60">
                <div class="w-100">
                    <div id="carouselExampleRideSix" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/rio/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rio/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rio/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rio/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rio/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/rio/6.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideSix" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideSix" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo">
                    <p class="mb-0 titleInfo">Río Élite Residential Tower</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">Río Élite is a luxury residential tower located in the exclusive Santa Mónica neighborhood of Cali, 
                            Colombia. Designed in collaboration with Dussan Arquitectos, this multifamily project redefines 
                            upscale living with sweeping city views, exceptional natural light, and a privileged location near 
                            the Bataclán nature reserve. The building features 18 spacious apartments, each with generous 
                            layouts, three parking spaces, private storage, and access to high-end amenities including a gym, 
                            pool, BBQ area, and entertainment rooms. We collaborated on the architectural design and 
                            contributed to key spatial and aesthetic decisions, helping shape an elegant, contemporary tower 
                            that offers both urban sophistication and a close connection to nature.</p>
                    </div>
                </div>
            </div>

            <div class="project marginb-60">
                <div class="w-100 boxInfo desktop">
                    <p class="mb-0 titleInfo">Ortiz House</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">This contemporary single-family home blends geometric volumes, natural textures, and a clean, 
                            modern aesthetic. Developed in collaboration with the architectural team A+D Workshop in Cali, 
                            Colombia, We participated in the design process and contributed to key architectural decisions. 
                            The project features a bold contrast between white volumes and rich wood cladding, 
                            complemented by a carefully designed landscape that softens the geometry and enhances curb 
                            appeal. The design prioritizes spatial harmony, natural lighting, and a strong indoor-outdoor 
                            connection, resulting in a sophisticated and timeless residence</p>
                    </div>
                </div>
                <div class="w-100">
                    <div id="carouselExampleRideNine" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/ortiz/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/ortiz/2.jpg"  class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/ortiz/3.jpg"  class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/ortiz/4.jpg"  class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/ortiz/5.jpg"  class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideNine" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideNine" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo mobile">
                    <p class="mb-0 titleInfo">Ortiz House</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">This contemporary single-family home blends geometric volumes, natural textures, and a clean, 
                        modern aesthetic. Developed in collaboration with the architectural team at A+D Workshop in Cali, 
                        Colombia, I participated in the design process and contributed to key architectural decisions. The 
                        project features a bold contrast between white volumes and rich wood cladding, complemented 
                        by a carefully designed landscape that softens the geometry and enhances curb appeal. The 
                        design prioritizes spatial harmony, natural lighting, and a strong indoor-outdoor connection, 
                        resulting in a sophisticated and timeless residence.</p>
                    </div>
                </div>
            </div>

            <div class="project marginb-60">
                <div class="w-100">
                    <div id="carouselExampleRideFour" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/BALMORAL/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/BALMORAL/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/BALMORAL/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/BALMORAL/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/BALMORAL/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideFour" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideFour" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo">
                    <p class="mb-0 titleInfo">Balmoral House</p>
                    <p class="titleInfo">Medellín, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in Medellín, this residential project is a thoughtful blend of sustainable practices, 
                            minimalist aesthetics, and subtle luxury. We participated in the architectural design and 
                            collaborated with A+D Workshop (Cali, Colombia), contributing to key design decisions 
                            throughout the process. The concept centers around creating a serene, timeless living 
                            environment that harmonizes with its urban surroundings. With an emphasis on natural light, 
                            cross ventilation, and the use of locally sourced materials, the design reduces environmental 
                            impact while offering refined, functional spaces defined by clean lines and warm textures.</p>
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="w-100 boxInfo desktop">
                    <p class="mb-0 titleInfo">Santa Rita Reservado</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in one of the most privileged areas of Cali, this luxury residential tower offers exceptional 
                            panoramic views and a prime urban location. Designed in collaboration with Dussan Arquitectos, 
                            this multifamily project embodies modern elegance and upscale living through its clean lines, 
                            generous balconies, and a refined material palette. I contributed to the architectural design and 
                            supported key decisions that shaped the building's contemporary identity and spatial efficiency. 
                            The project combines high-end finishes with thoughtfully designed communal and private areas, 
                            setting a new standard for luxury living in the city.</p>
                    </div>
                </div>
                <div class="w-100">
                        <div id="carouselExampleRideEight" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/santa/1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/santa/2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/santa/3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/santa/4.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/santa/5.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/santa/6.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRideEight" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRideEight" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="w-100 boxInfo mobile">
                    <p class="mb-0 titleInfo">Santa Rita Reservado</p>
                    <p class="titleInfo">Cali, Colombia</p>
                    <div class="secondText">
                        <p class="info">Located in one of the most privileged areas of Cali, this luxury residential tower offers exceptional 
                            panoramic views and a prime urban location. Designed in collaboration with Dussan Arquitectos, 
                            this multifamily project embodies modern elegance and upscale living through its clean lines, 
                            generous balconies, and a refined material palette. I contributed to the architectural design and 
                            supported key decisions that shaped the building's contemporary identity and spatial efficiency. 
                            The project combines high-end finishes with thoughtfully designed communal and private areas, 
                            setting a new standard for luxury living in the city.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="finalText">
            <p>We offer innovative and functional design solutions.</p>
            <div class="line"></div>
        </div>
    </main>
    <app-footer></app-footer>
</section>
