<section class="page-container">
    <app-header></app-header>
    <main class="content">
        <div class="boxPictures">
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/BANNER-SERVICES.png" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Services</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/ser2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Services</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/ser3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Services</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
        <div class="boxGif clear-blue-background">
            <img src="assets/gif.gif">
            <p class="bigExtraBoldRaleway mb-0">Design Solutions</p>
        </div>
        <div class="containerServices">
            <p class="textService textBakung">We offer innovative and functional 
                architectural solutions designed to 
                transform spaces and enhance 
                quality of life. We specialize in:</p>
            <div class="boxServices">        
                <div class="containerBoxes">
                    <div class="d-flex">
                        <div class="firstBox">
                            <div class="secondBox">
                                <p class="home-numbers mb-0">1</p>
                                <p class="home-subtitles-services mb-0 mt-3">Architectural Design</p>
                                <p class="home-text-services mb-0 mt-2">Creating unique,
                                    personalized, and
                                    efficient spaces</p>
                            </div>
                        </div>
                        <div class="firstBox yellow-background">
                            <div class="secondBox">
                                <p class="home-numbers mb-0">2</p>
                                <p class="home-subtitles-services mb-0 m-12">Construction and Renovation</p>
                                <p class="home-text-services mb-0 mt-2">Comprehensive development of residential and commercial projects.</p>
                            </div>
                        </div>
                        <div class="firstBox orange-background">
                            <div class="secondBox">
                                <p class="home-numbers mb-0">3</p>
                                <p class="home-subtitles-services mb-0">3D Rendering and Visualization</p>
                                <p class="home-text-services mb-0 mt-2">Realistic presentation
                                    of your project before
                                    construction.</p>
                            </div>
                        </div>
                        <div class="firstBox clear-blue-background">
                            <div class="secondBox">
                                <p class="home-numbers mb-0">4</p>
                                <p class="home-subtitles-services mb-0 mt-2">Consulting and Planning</p>
                                <p class="home-text-services mb-0 mt-2">Resource optimization for effective execution.</p>
                            </div>
                        </div>
                        <div class="firstBox strong-blue-background">
                            <div class="secondBox">
                                <p class="home-numbers mb-0">5</p>
                                <p class="home-subtitles-services mb-0">Landscape Design &</p>
                                <p class="home-subtitles-services mb-0">natives Texas plants</p>
                                <p class="home-text-services mb-0 mt-2">Delivery in Austin &
                                    Surrounding Areas,
                                    Hassle Free and Local.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="textSecondService textMediumRaleway">Let us bring your vision to life. Contact us today and book a Design Consultation.</p>
            <button type="submit" class="btn btn-primary btnSend">Your next project starts here!</button>
        </div>
        <div class="containerSpaces clear-blue-background">
            <button type="submit" class="btn btn-primary btnSend">Spaces with essence that reflect your lifestyle</button>
            <div class="firstBox d-flex">
                <div class="boxText">
                    <p class="learnMore ml-3">REMOTE WORK</p>
                    <div class="lineSpaces"></div>
                    <p class="textInfoLittleBold  mt-4 padding-right">Residential and commercial projects.</p>
                    <p class="textInfoLittle  padding-right">This service offers online Design consultations, 
                        perfect for clients looking to renovate spaces and 
                        in need of guidance on elements such as finishes, 
                        furniture, colors, materials, decor, and lighting.</p>
                    <p class="textInfoLittle padding-right">• Contact us from anywhere in the world, and let 
                        us help you innovate your project with our vision 
                        of creating architecture and space design that 
                        reflects your unique identity</p>
                </div>
                <img src="assets/2-SERVICES.jpg" class="w-60">
            </div>
            <div class="firstBox d-flex secondBoxServices">
                <img src="assets/3-SERVICES.jpg" class="w-60">
                <div class="boxText">
                    <p class="learnMore ml-3 padding-left">NEW PROJECTS</p>
                    <div class="lineSpaces"></div>
                    <p class="textInfoLittleBold  mt-4 padding-left">Residential and commercial projects.</p>
                    <p class="textInfoLittleBold padding-left">Option to work on the projects remotely.*</p>
                    <p class="textInfoLittle padding-left">• Are you ready to build the home of your dreams or 
                        transform your business with an innovative design? 
                        Share your vision with us, and let us help turn your 
                        ideas into reality by creating unique spaces that 
                        suit your needs and reflect your identity</p>
                </div>
            </div>
            <div class="firstBox d-flex pb-80">
                <div class="boxText">
                    <p class="learnMore ml-3">RENOVATION</p>
                    <div class="lineSpaces"></div>
                    <p class="textInfoLittleBold  mt-4 padding-right">Residential and commercial projects.</p>
                    <p class="textInfoLittleBold padding-right">Option to work on the projects remotely.*</p>
                    <p class="textInfoLittle  padding-right">• We innovate with ideas to transform your spaces into 
                        functional and comfortable opportunities for your life. 
                        Our renovation service is designed for those looking 
                        to unlock new potential in the interior or exterior of 
                        their project, whether residential or commercial.</p>
                </div>
                <img src="assets/1-SERVICES.jpg" class="w-60">
            </div>
        </div>
        <div class="boxPhoto">
            <img src="assets/FONDO-SERVICES.jpg" class="w-100">
            <div class="overlayText">
                <p class="biggerTextBakung mb-0">What to Expect During the Design and Construction Process?</p>
                <div class="lineGeneral firstLine"></div>
                <p class="learnMore titleProcess">Residential and commercial projects.</p>
                <div class="steps-container">
                    <div class="step">
                        <p class="textInfoGeneralBold">Initial Consultation</p>
                        <div class="lineGeneral"></div>
                        <p class="textInfoGeneral mt-3">We start by understanding 
                            your vision, needs, and 
                            goals for the project. We will 
                            discuss your ideas, budget, 
                            and timeline to ensure we 
                            are aligned with your 
                            expectations.</p>
                    </div>
                    <div class="step">
                        <p class="textInfoGeneralBold">Concept and Design</p>
                        <div class="lineGeneral"></div>
                        <p class="textInfoGeneral mt-3">Based on our consultation, 
                            we create initial design 
                            concepts and layouts. This 
                            phase is all about refining 
                            your vision and ensuring that 
                            the design is functional, 
                            aesthetic, and aligned with 
                            your requirements.</p>
                    </div>
                    <div class="step">
                        <p class="textInfoGeneralBold">Planning and Approvals</p>
                        <div class="lineGeneral"></div>
                        <p class="textInfoGeneral mt-3">Once the design is 
                            finalized, we handle the 
                            planning, permitting, and 
                            approvals required. This 
                            may include working with 
                            local authorities to ensure 
                            the project complies with 
                            zoning and building codes.</p>
                    </div>
                    <div class="step">
                        <p class="textInfoGeneralBold">Construction Phase</p>
                        <div class="lineGeneral"></div>
                        <p class="textInfoGeneral mt-3">After the permits are secured, 
                            construction begins. We 
                            coordinate with contractors, 
                            engineers, and other 
                            professionals to ensure the 
                            project is executed as 
                            planned, maintaining quality 
                            and meeting deadlines.</p>
                        <i class="pi pi-plus-circle" ></i>
                    </div>
                </div>
                <button class="btn-schedule">Schedule a Design Consultation</button>
            </div>

        </div>
    </main>
    <app-footer></app-footer>
</section>
