<section class="page-container">
    <app-header></app-header>
    <main class="content">
        <div class="boxPlants">
            <img src="assets/fondo_plants.png">
            <div class="text-container">
                <p class="location d-flex my-auto subtitles-general">AUSTIN, TX.</p>
                <div class="main-title">
                    <h1 class="native">Native</h1>
                    <h1 class="plants">Plants</h1>
                </div>
                <a href="/plants" class="learn-more d-flex my-auto subtitles-general learnMore">Learn more</a>
            </div>
        </div>
        
    </main>
    <app-footer></app-footer>
</section>
