<section class="page-container">
    <app-header></app-header>
    <main class="content">
        <div class="boxPictures desktop position-relative">
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/banner-first.png" class="d-block w-100" alt="Imagen 1">
                </div>
                <div class="carousel-item">
                    <img src="assets/home2.jpg" class="d-block w-100" alt="Imagen 2">
                </div>
                <div class="carousel-item">
                    <img src="assets/home3.jpg" class="d-block w-100" alt="Imagen 3">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="carousel-static-caption position-absolute top-50 start-50 translate-middle text-center text-white">
                <h5 class="biggerTextBakung mb-0">Design</h5>
                <p class="bigRaleway m-8">Solution</p>
            </div>
        </div>
        <div class="boxPictures mobile position-relative">
            <!-- Carrusel -->
            <div id="newCarrusel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/mobile/HOME1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/mobile/HOME2.jpg" class="d-block w-100" alt="Segunda foto del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="assets/mobile/HOME3.jpg" class="d-block w-100" alt="Tercera foto del carrusel">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#newCarrusel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#newCarrusel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Texto estático superpuesto -->
            <div class="carousel-static-caption position-absolute top-50 start-50 translate-middle text-center text-white">
                <h5 class="biggerTextBakung mb-0 firstTextMobile">Design</h5>
                <p class="secondTextMobile" id="">Solution</p>
            </div>
        </div>
        <div class="boxInformation">
            <div class="w-100 firstBox">
                <p class="bigTextBakungTwo white w-60">AEP Architecture is a Design Studio dedicated to creating spaces that feel authentic, functional and inspiring, where form, function and nature coexist in harmony.</p>
                <div class="lineGeneral"></div>
            </div>
            <div class="w-50 secondBox">
                <p class="textInfoGeneral white">We offer personalized solutions in Architecture, Interior Design and Landscape Design, thoughtfully integrating every element to reflect the character of each place. From small residential renovations to large-scale commercial developments, our team provides full-service support from concept to installation.</p>
            </div>
            
        </div>
        <div class="boxPresentation clear-blue-background d-flex">
            <div class="boxPicture w-50">
                <img src="assets/about-us-2.jpg" class="w-100">
            </div>
            <div class="boxText w-50">
                <p class="textName">About us</p>
                <p class="textInfo">
                    AEP Architecture was founded in 2020 by Alcibiades Estupiñán, a Colombian architect and graduate of Universidad San Buenaventura in Cali, Colombia.
                    What began as a personal vision has grown into a collaborative design studio dedicated to creating thoughtful, sustainable spaces for everyday life.
                    The studio is built on a simple belief: that intentional design has the power to improve lives, shape meaningful experiences, and deepen our connection to the spaces we inhabit
                </p>
                <a href="/about-us" class="d-flex learnMore black">Learn more</a>
            </div>

        </div>
        <div class="boxPortfolio desktop">
            <div class="boxImage">
                <p class="home-titles white mb-0 portfolio-text">Portfolio</p>
                <img src="assets/banner-third.png">
                <a href="/portfolio" class="learn-more d-flex subtitles-general white portfolioLearn">Learn more</a>
            </div>
        </div>
        <div class="boxPortfolio mobile">
            <div class="boxImage">
                <p class="home-titles white mb-0 portfolio-text">Portfolio</p>
                <img src="assets/mobile/HOME-portafolio.png">
                <a href="/portfolio" class="learn-more d-flex subtitles-general white portfolioLearn">Learn more</a>
            </div>
        </div>
        <div class="boxServices desktop">        
            <div class="containerBoxes">
                <p class="home-titles ml-3 title-services">Our Services</p>
                <div class="d-flex">
                    <div class="firstBox">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">1</p>
                            <p class="home-subtitles-services mb-0 mt-3">Architectural Design</p>
                            <p class="home-text-services mb-0 mt-2">Creating unique,
                                personalized, and
                                efficient spaces</p>
                        </div>
                    </div>
                    <div class="firstBox strong-blue-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">2</p>
                            <p class="home-subtitles-services mb-0">Natives Texas plants</p>
                            <p class="home-text-services mb-0 mt-2">Delivery in Austin &
                                Surrounding Areas,
                                Hassle Free and Local.</p>
                        </div>
                    </div>
                    <div class="firstBox orange-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">3</p>
                            <p class="home-subtitles-services mb-0">3D Rendering and Visualization</p>
                            <p class="home-text-services mb-0 mt-2">Realistic presentation
                                of your project before
                                construction.</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">4</p>
                            <p class="home-subtitles-services mb-0 mt-2">Landscape Design</p>
                            <p class="home-text-services mb-0 mt-2">Resource optimization for effective execution.</p>
                        </div>

                    </div>
                    <div class="firstBox yellow-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">5</p>
                            <p class="home-subtitles-services mb-0 m-12">Construction and Renovation</p>
                            <p class="home-text-services mb-0 mt-2">Comprehensive development of residential and commercial projects.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/services" class="mt-5 learnMore d-flex subtitles-general black justify-content-center">Learn more</a>
        </div>
        <div class="boxServices mobile">        
            <div class="containerBoxes">
                <p class="home-titles ml-3 title-services">Our Services</p>
                <div class="d-flex justify">
                    <div class="firstBox">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">1</p>
                            <p class="home-subtitles-services mb-0 mt-3">Architectural Design</p>
                            <p class="home-text-services mb-0 mt-2">Creating unique,
                                personalized, and
                                efficient spaces</p>
                        </div>
                    </div>
                    <div class="firstBox strong-blue-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">2</p>
                            <p class="home-subtitles-services mb-0">Natives Texas plants</p>
                            <p class="home-text-services mb-0 mt-2">Delivery in Austin &
                                Surrounding Areas,
                                Hassle Free and Local.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-3 justify">
                    <div class="firstBox orange-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">3</p>
                            <p class="home-subtitles-services mb-0">3D Rendering and Visualization</p>
                            <p class="home-text-services mb-0 mt-2">Realistic presentation
                                of your project before
                                construction.</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">4</p>
                            <p class="home-subtitles-services mb-0 mt-2">Landscape Design</p>
                            <p class="home-text-services mb-0 mt-2">Resource optimization for effective execution.</p>
                        </div>

                    </div>
                </div>
                <div class="d-flex mt-3">
                    <div class="firstBox yellow-background lastService">
                        <div class="secondBox">
                            <p class="home-numbers mb-0">5</p>
                            <p class="home-subtitles-services mb-0">Construction and Renovation</p>
                            <p class="home-text-services mb-0 mt-2">Comprehensive development of residential and commercial projects.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/services" class="mt-5 learn-more d-flex subtitles-general black justify-content-center desktop">Learn more</a>
        </div>
        <div class="boxPlants desktopPlants">
            <img src="assets/fondo_plants.png">
            <div class="text-container">
                <p class="location d-flex my-auto learnMore">AUSTIN, TX.</p>
                <div class="main-title">
                    <h1 class="native">Native</h1>
                    <h1 class="plants">Plants</h1>
                </div>
                <a href="/plants" class="learnMore d-flex my-auto subtitles-general white">Learn more</a>
            </div>
        </div>
        <div class="boxPlants mobilePlants">
            <img src="assets/mobile/HOME-plants.jpg">
            <div class="text-container">
                <p class="location d-flex mx-auto subtitles-general mb-auto mt-4 text-plants">AUSTIN, TX.</p>
                <div class="main-title">
                    <h1 class="d-flex mx-auto native">Native</h1>
                    <h1 class="plants">Plants</h1>
                </div>
                <a href="/plants" class="learn-more d-flex mx-auto subtitles-general white mt-auto mb-4 text-plants">Learn more</a>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</section>
