.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  .content{
    background-color: gray;
    .boxPlants{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
      }
      .text-container{
        display: flex;
        color: white;
        font-family: 'Bakung';
        justify-content: space-between;
        padding: 0px 160px;
        position: absolute;
        width: 100%;
        .learnMore{
          color: white;
        }
        .native{
          font-size: 60px;
        }
        .plants{
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 45px;
          font-family: "Raleway";
          display: block;
          text-align: center;
          margin-top: -18px;
          }
      }
    }
    .boxServices{
      background-color: white;
      padding: 60px 40px;
      .containerBoxes{
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        .title-services{
          margin-left: 60px;
          margin-bottom: 45px;
        }
        .firstBox{
          background-color: black;
          width: 165px;
          height: 205px;
          border-radius: 20px;
          border: 1px solid black;
          margin-right: 20px;
          .plus{
            width: fit-content;
            display: flex;
            margin-left: auto;
            margin-right: 18px;
            font-size: 34px;
            margin-top: -12.8px;
          }
          .secondBox{
            background-color: white;
            border-radius: 18px;
            height: 170px;
            padding: 2px 18px;
            border-bottom: 1px solid black
          }
        }
      }
    }
    .boxPortfolio{
      background-color: black;
      .boxImage{
        padding: 60px 80px;
        position: relative;
        .portfolio-text{
          position: absolute;
          font-size: 5vw;
        }
        .portfolioLearn{
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
          padding-bottom: 90px;
          padding-right: 80px;
          font-size: 2.5vw;
        }
        img{
          width: 100%;
        }
      }
    }
    .boxPresentation{
      padding: 80px;
      .boxText{
        .textName{
          font-family: "Raleway";
          font-weight: 600;
          font-size: 5vw;
        }
        .textInfo{
          font-family: "Raleway";
          font-weight: 500;
          font-size: 1.5vw;
        }
      }
    }
    .boxInformation{
      background-color: black;
      .firstBox{
        padding-top: 60px;
        padding-left: 60px;
        p{
          margin-bottom: 60px !important;
        }
      }
      .secondBox{
        padding: 60px;
        margin-left: auto;
        p{
          text-align: right;
        }
      }
    }
    .boxPictures{
      // height: 500px;
    }
  }
}

.m-12{
  margin-top: -12px;
}

.m-8{
  margin-top: -8px;
}

.carousel-caption-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
}

.w-60{
  width: 60%;
}




