.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  .content{
    padding-top: 170px;
    padding-left: 100px;
    padding-right: 100px;
    .bigRaleway{
        font-size: 5vw;
        font-weight: 600;
    }
    .boxLogo{
        position: relative;
        .textBox{
            width: 70%;
            position:absolute;
            z-index: 2;
        }
        img{
            position: relative;
            top: 228px;
        }
    }
    .secondBoxInfo{
        margin-top: 300px;
        .box{
            width: 40%;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }
        .boxSecond{
            width: 40%;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }
        .text{
            width: 60%;
            text-align: right;
            font-weight: 500;
        }
        .textSecond{
            width: 60%;
            text-align: left;
            font-weight: 500;
        }
    }
    .fistBox{
        .boxImg{   
            width: 100%;
        }
        .boxText{
            padding-left: 30px ;
            .textName{
                font-family: "Raleway";
                font-size: 3.7vw;
                font-weight: 600;
            }
        }
    }
    .secondBox{
        .btnSend{
            background-color: transparent !important;
            font-family: "Raleway";
            font-size: 2vw;
            border-radius: 999px;
            padding: 10px 30px;
            font-weight: 600;
            border: 1px solid black;
            margin-top: 30px;
            display: flex;
            color: black;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }
  }
}

.mt-50{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}







