<section class="page-container">
    <app-header></app-header>
    <main class="clear-blue-background content">
        <p class="bigRaleway">About Us</p>
        <div class="fistBox w-100 d-flex">
            <div class="boxImg w-30"></div>
            <div class="w-70 boxText">
                <p class="textName">Hi! i'm Alci!</p>
                <p class="textInfoGeneral">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra, nisl at efficitur blandit, orci nisl convallis est, nec tincidunt nibh lectus sit amet orci. Curabitur convallis tellus sed justo scelerisque, at venenatis urna molestie.</p>
                <p class="textInfoGeneral">Mauris pharetra sem at justo varius, nec aliquet sapien viverra. Nulla facilisi. Duis convallis, augue vitae vehicula vestibulum, nunc risus euismod erat, a accumsan enim sapien et augue.</p>
            </div>
        </div>
        <div class="secondBox w-100 mt-3">
            <p class="textInfoGeneral">Fusce a orci in mi porta efficitur. Nam luctus lectus nec elit ullamcorper, quis euismod metus elementum. Proin ultricies sapien in odio molestie, ut ullamcorper ex sollicitudin. Fusce a orci in mi porta efficitur. Nam luctus lectus nec elit ullamcorper, quis euismod metus elementum. Proin ultricies sapien in odio molestie, ut ullamcorper ex sollicitudin.</p>
            <p class="textInfoGeneral">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vitae quam ac neque fermentum ultrices at at libero. Fusce a orci in mi porta efficitur. Nam luctus lectus nec elit ullamcorper, quis euismod metus elementum. Proin ultricies sapien in odio molestie, ut ullamcorper ex sollicitudin.</p>
            <button type="submit" class="btn btn-primary btnSend">Let's design something that grows with you</button>
        </div>
    </main>
    <app-footer></app-footer>
</section>
