<section class="page-container">
    <app-header></app-header>
    <main class="clear-blue-background content">
        <p class="bigRaleway">About Us</p>
        <div class="boxLogo w-100">
            <div class="textBox">
                <img src="assets/AEP-ABOUT-US.png" class="d-block w-100 mobile mobileLogo" alt="logo">
                <p class="mb-0 biggerTextBakung">
                    AEP Architecture was founded in 
                    2020 by Alcibiades Estupiñán, a 
                    Colombian architect and graduate 
                    of Universidad San Buenaventura 
                    in Cali, Colombia.
                </p>

            </div>
            <img src="assets/AEP-ABOUT-US.png" class="d-block w-100 desktop" alt="logo">
        </div>
        
        <div class="secondBoxInfo d-flex">
            <div class="mobile firstLineBox"></div>
            <div class="box desktop"></div>
            <p class="text textInfoGeneral">Our process is rooted in curiosity, discovery, and 
                collaboration. We guide each client through a thoughtful 
                design journey that uncovers the unique identity of every 
                project, its goals, context, and connection to the 
                surrounding landscape. The result is spaces that reflect 
                the people who inhabit them and respond gracefully to 
                their environment. Sustainability is at the core of our 
                work. We integrate native plants, timeless materials, and 
                site-specific strategies to design spaces that respect the 
                natural and cultural character of each location. From 
                intimate residential renovations to large-scale 
                commercial developments, our approach is always 
                guided by clarity, empathy, and design excellence.</p>
        </div>
        <div class="secondBoxInfo d-flex mt-50 mobileMarginTop">
            <div class="mobile secondLineBox"></div>
            <div class="mobile thirdLineBox"></div>
            <p class="textSecond textInfoGeneral">Our multidisciplinary team of architects, designers, and 
                landscape specialists embraces each challenge with an 
                open mind and creative problem-solving. We believe 
                that successful built environments emerge from 
                thoughtful, integrated solutions that honor vision, 
                function, context, and budget.</p>
                <div class="boxSecond desktop"></div>
        </div>
        <div class="secondBox w-100 mt-3">
            <button type="submit" class="btn btn-primary btnSend" routerLink="/contact">Contact us</button>
        </div>

    </main>
    <app-footer></app-footer>
</section>
