.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  .content{
    padding-top: 170px;
    padding-left: 60px;
    padding-right: 60px;
    .fistBox{
        .boxImg{
            
            width: 100%;
            height: 400px;
            padding-right: 30px;
        }
        .boxText{
            padding-left: 60px ;
            .textName{
                font-family: "Raleway";
                font-size: 3.7vw;
                font-weight: 600;
            }
        }
    }
    .secondBox{
        .btnSend{
            background-color: transparent !important;
            font-family: "Raleway";
            font-size: 1.5vw;
            border-radius: 999px;
            padding: 10px 30px;
            font-weight: 600;
            border: 1px solid black;
            margin-top: 30px;
            display: flex;
            color: black;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            margin-bottom: 200px;
        }
    }
  }
}





