<section class="page-container">
    <app-header></app-header>
    <main class="clear-blue-background content">
        <p class="bigRaleway">About Us</p>
        <div class="boxLogo w-100">
            <div class="textBox">
                <img src="assets/AEP-ABOUT-US.png" class="d-block w-100 mobile mobileLogo" alt="logo">
                <p class="mb-0 biggerTextBakung">
                    Founded in 2020 by Colombian designer Alcibiades Estupiñán, AEP Design Solutions grew from a vision rooted in home design, interiors, and landscapes.
                </p>

            </div>
            <img src="assets/AEP-ABOUT-US.png" class="d-block w-100 desktop" alt="logo">
        </div>
        
        <div class="secondBoxInfo d-flex">
            <div class="mobile firstLineBox"></div>
            <div class="box desktop"></div>
            <p class="text textInfoGeneral">We believe every space has the power to inspire. Our work goes beyond function—we create spaces that are authentic, welcoming, and aligned with the way people live and connect.
                    Each project is a journey of collaboration and discovery, where design becomes a tool to transform everyday moments into meaningful experiences. From residential updates to commercial projects, our focus is always on creating spaces that feel natural, timeless, and true to their context.
            </p>
        </div>
        <div class="secondBoxInfo d-flex mt-50 mobileMarginTop">
            <div class="mobile secondLineBox"></div>
            <div class="mobile thirdLineBox"></div>
            <p class="textSecond textInfoGeneral">At AEP Design Solutions, our commitment is to design with intention and care. By blending creativity with functionality, we strive to deliver spaces that not only enhance everyday life but also leave a lasting sense of comfort, harmony, and inspiration.</p>
                <div class="boxSecond desktop"></div>
        </div>
        <div class="secondBox w-100 mt-3">
            <button type="submit" class="btn btn-primary btnSend" routerLink="/contact">Contact us</button>
        </div>

    </main>
    <app-footer></app-footer>
</section>
