.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
 
}

.content{
background-color: gray;

}

.firtsInfo{
    padding: 7vw;
    @media (max-width: 600px){
        padding: 60px;
    }
    p{
        font-weight: 500;
        color: white;
        font-family: 'Bakung'; 
        font-size: 3vw;
        text-align: center;
        line-height: 1;
        @media (max-width: 600px){
            font-size: 20px;
            margin-bottom: 0px;
            line-height: 1.2;
        }
        
    }
}
.gardenBox{
    background-color: white;
    padding-bottom: 60px;
    @media (max-width: 600px){
        padding-bottom: 20px;
    }
    .containerImg{
        padding: 10vw;
            @media (max-width: 600px){
            display: block !important;
            padding: 60px;
            padding-bottom: 30px;
            }
        img{
            width: 40%;
        @media (max-width: 600px){
            width: 85%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            }
        }
        .textGarden{
            justify-content: center;
            display: flex;
            flex-direction: column;
            p{
                margin-left: 80px;
                @media (max-width: 600px){
                    margin-left: 0px;
                }
            }
            .titleGarden{
                font-family: "Raleway";
                font-weight: 600;
                font-size: 3vw;
                @media (max-width: 600px){
                    font-size: 20px;
                    margin-top: 1rem ;
                }
            }
        }
        .secondTextGarden{
            p{
                margin-left: 0px !important;
                padding-right: 15px;
                @media (max-width: 600px){
                    padding-right: 0px;
                    text-align: right;
                    margin-bottom: 0rem !important;
                }
            }
        }
    }
}
.boxPhoto{
    position: relative;
    img {
        height: auto;
        display: block;
    }
    .overlayText {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 80px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
                @media (max-width: 600px){
                padding: 40px;
            }
            .titlePhoto{
                font-weight: 500;
                color: white;
                font-family: "Raleway"; 
                font-size: 3vw;
                text-align: center;
                line-height: 1;
                width: 70%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                @media (max-width: 600px){
                    width: 90%;
                    font-size: 20px;
                }
            }
    }
}
.secondText{
    background-color: white;
    padding: 8vw;
    @media (max-width: 600px){
        padding: 60px;
    }
    p{
        color: #354B4B;
        font-family: "Raleway";
        font-weight: 500;
            @media (max-width: 600px){
            font-size: 11px;
        }
    }
}
.boxDelivery{
    background-color: white;
    .boxTitle{
        border-bottom: 2px solid #354B4B;
        border-top: 2px solid #354B4B;
        padding-left: 6vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        @media (max-width: 600px){
            padding-left: 40px;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
        p{
            font-family: "Raleway";
            font-weight: 600;
            color: #354B4B;
            font-size: 3vw;
            @media (max-width: 600px){
                font-size: 20px;
            }
        }
    }
    .textDelivery{
        padding: 3vw 6vw;
        @media (max-width: 600px){
            padding: 40px ;
        }
        .emailBox{
            text-align: center;
            margin-top: 4rem;
            @media (max-width: 600px){
                margin-top: 10px;
            }
            p{
                color:#354B4B;
                font-size: 1.5vw !important;
                @media (max-width: 600px){
                    font-size: 15px !important ;
                }
            }
        }
    }
}
.boxCatalog{
    background-color: white;
    .boxTitle{
        padding-left: 6vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        @media (max-width: 600px){
            padding-left: 40px;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
        p{
            font-family: "Raleway";
            font-weight: 600;
            color: white;
            font-size: 3vw;
            @media (max-width: 600px){
                font-size: 20px;
            }
        }
    }
    .catalog{
        padding: 3vw 6vw;
        @media (max-width: 600px){
            padding: 40px;
        }
        .title{
            color:#354B4B;
            font-size: 1.5vw !important;
            font-family: "Raleway";
            font-weight: 700;
            display: flex;
            justify-content: right;
        }
    }
}

.boxTitlePlants{
    width: 100%;
    border-bottom: 2px solid #354B4B;
    display: flex;
    justify-content: space-between;
    height: 100px;
    @media (max-width: 600px){
        height: 70px;
    }
    i{
        font-size: 35px;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
        cursor: pointer;
        @media (max-width: 600px){
            font-size: 20px;
        }
    }
    .titlePlants{
        font-family: "Raleway";
        font-weight: 600;
        font-size: 2.7vw;
        color: #354B4B;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        @media (max-width: 600px){
            font-size: 20px;
        }
    }
}



.carousel-caption-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}


.m-20{
  margin-top: -20px;
  @media (max-width: 600px){
     margin-top: -5px;
  }
}

.m-8{
  margin-top: -8px;
}

.mr-5{
    margin-right: 5px;
}

p.con-bullet {
  display: list-item;
  list-style-type: disc;       
  list-style-position: outside;
  margin-left: 1em;           
}

.titleDelivery{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 1.5vw;
    color: #354B4B;
    @media (max-width: 600px){
        font-size: 11px;
    }
}

.texDelivery{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 1.5vw;
    color: #354B4B;
     @media (max-width: 600px){
        font-size: 11px;
    }
}

.containerPlants{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    @media (max-width: 600px){
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      gap: 25px;
    }

    .firstBox{
        background-color: black;
        width: 200px;
        height: 360px;
        border-radius: 20px;
        border: 1px solid black;
        margin-right: 20px;
        @media (max-width: 600px){
            width: 150px;
            height: 300px;
        }
        .boxFirstText{
            padding-left: 15px;
            padding-top: 10px;
            .firstText{
                font-family: "Raleway";
                font-weight: 600;
                margin-bottom: 0rem;
                color:#354B4B;
                font-size: 14px;
                @media (max-width: 600px){
                    font-size: 11px;
                }
                }
        }
        
        
        .secondBox{
            background-color: white;
            border-radius: 18px;
            height: 255px;
            border-bottom: 1px solid black;
            @media (max-width: 600px){
                height: 205px;
            }
            .textSecond{
                margin-top: 8px;
                padding-left: 15px;
                padding-right: 8px;
            }
            .titlePlant{
                width: 80%;
                line-height: 1.2;
                font-family: "Raleway";
                font-size: 14px;
                font-weight: 800;
                @media (max-width: 600px){
                    font-size: 11px;
                }
            }
            .boxPlus{
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                @media (max-width: 600px){
                    height: 20px;
                    width: 20px;
                }
                    i{
                        display: flex;
                        color: white;
                        font-size: 20px;
                        margin: auto;
                        @media (max-width: 600px){
                            font-size: 13px;
                        }
                    }
            }
            
        .thirdBox{
            height: fit-content;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            border-bottom: 1px solid black;
           
            img{
                width: 100%;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
            }
        }
    }
}
}

.btnSend{
    background-color: transparent !important;
    font-family: "Raleway";
    font-size: 2vw;
    border-radius: 999px;
    padding: 10px 30px;
    font-weight: 600;
    border: 1px solid black;
    display: flex;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    @media (max-width: 600px){
        font-size: 10px !important;
        line-height: 1.2;
        width: calc(100% - 120px);
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    }

.newInfo{
    padding: 8vw;
    @media (max-width: 600px){
        padding: 60px;
    }
    p{
    font-family: "Raleway";
    font-weight: 600;
    font-size: 2vw;
    color: white;
    @media (max-width: 600px){
        font-size: 11px;
    }
    }
}

.desktop{
  @media (max-width: 600px){
     display: none !important;
     
  }
}

.mobile{
  display: none;
  @media (max-width: 600px){
     display: block;
  }
}

.titleMobile {
    font-size: 35px;
}

.secondTextMobile{
    font-size: 25px !important;
}

.lineLeft{
    @media (max-width: 600px){
     margin-left: -60px;
     width: 120%;
  }
}

.textGarden{
    .textInfoGeneral {
        @media (max-width: 600px){
            font-size: 11px;
            margin-top: 1rem !important;
        }
    }
}

#titleLeft{
    @media (max-width: 600px){
     display: flex !important;
     margin-left: auto !important;
     padding-right: 0px;
     margin-bottom: 1rem !important;
  }
}

.lineRight{
    @media (max-width: 600px){
     margin-right: -60px;
     width: 120%;
  }
}

.textPhoto{
    @media (max-width: 600px){
        font-size: 11px;
        margin-top: 30px !important;
        text-align: center;
        width: 98%;
    }
}

#second{
    @media (max-width: 600px){
        p{
            margin-top: 0.5rem !important;
        }
        .titleGarden{
            margin-bottom: 0px;
        }
    }
    
}

.trees{
    height: 405px !important;
    @media (max-width: 600px){
        height: 322px !important;
    }
}


.circleWord{
    border-radius: 55px;
    width: 300px;
    border: solid 1px white;
    padding: 15px;
    @media (max-width: 600px){
        padding: 15px;
        width: 80px;
    }
    p{
        display: flex;
        margin: auto;
        font-size: 2vw;
        width: fit-content;
        font-weight: 500;
        @media (max-width: 600px){
            margin-top: 0px;
            font-size: 11px;
        }
    }
}

.textCircle{
    text-align: center !important;
    margin-top: 60px;
}

.textCatalog{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 1.5vw;
    color: #354B4B;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: 600px){
        font-size: 11px;
    }}

.firstTitle{
    border-top: solid 2px #354B4B;
}

.boxCircles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.linePlants {
  border-bottom: 1px solid white;
  flex: 1;
}


