<section class="page-container">
    <app-header></app-header>
    <main class="content">
        <div class="boxPictures desktop">
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/plants1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Native</h5>
                            <p class="bigRaleway m-20">Plants</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/plants2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Native</h5>
                            <p class="bigRaleway m-20">Plants</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/plants3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0">Native</h5>
                            <p class="bigRaleway m-20">Plants</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
        <div class="boxPictures mobile">
            <div id="carouselExampleRide1" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/mobile/banner1.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0 titleMobile">Native</h5>
                            <p class="bigRaleway m-20 secondTextMobile">Plants</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/mobile/banner2.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0 titleMobile">Native</h5>
                            <p class="bigRaleway m-20 secondTextMobile">Plants</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/mobile/banner3.jpg" class="d-block w-100" alt="Primera foto del carrusel">
                        <div class="carousel-caption-overlay d-flex flex-column h-100 align-items-center justify-content-center">
                            <h5 class="biggerTextBakung mb-0 titleMobile">Native</h5>
                            <p class="bigRaleway m-20 secondTextMobile">Plants</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
        <div class="firtsInfo strong-blue-background">
            <p class="desktop">A place to rest, to breathe, to simply</p>
            <p class="desktop">be right outside your door.</p>
            <p class="desktop">AEP can design and build it with care.</p>
            <p class="mobile">A place to rest, to breathe, to simply be right outside your door. AEP can design and build it with care.</p>
        </div>
        <div class="gardenBox">
            <div class="d-flex containerImg">
                <img src="assets/PLANTS-2.jpg" alt="garden">
                <div class="textGarden">
                    <p class="titleGarden">More than just a pretty yard</p>
                    <div class="lineGeneralBlack lineLeft"></div>
                    <p class="textInfoGeneral mt-4">We believe landscapes should do more than look good. 
                        They should feel right, support life, and reflect a deeper 
                        connection to place.<br>
                        We design natural sanctuaries for residential and 
                        commercial clients, spaces that are beautiful, 
                        meaningful, and alive.</p>
                </div>
            </div>
            <div class="pt-0 d-flex containerImg">
                <img class="mobile" src="assets/PLANTS-1.jpg" alt="garden">
                <div class="textGarden secondTextGarden">
                    <p class="titleGarden" id="titleLeft">Design & Build</p>
                    <div class="lineGeneralBlack lineRight"></div>
                    <p class="textInfoGeneral mt-4 pr-2">From that first idea to planting the last native flower, we handle 
                        every step with care and intention so your landscape feels as 
                        good as it looks.</p>
                    <p class="textInfoGeneral mt-4">Here’s what’s included:</p>
                    <p class="textInfoGeneral mb-0">* Site evaluation and custom design plan</p>
                    <p class="textInfoGeneral mt-2 mb-0">* A handpicked palette of native plants</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Soil prep to help everything thrive</p>
                    <p class="textInfoGeneral mt-2 mb-0 pr-2">* Patios, pathways, stone edges, dry creek beds — whatever fits your style</p>
                    <p class="textInfoGeneral mt-2 mb-0">* We’ll find your plants and get them in the ground</p>
                    <p class="textInfoGeneral mt-2 mb-0 pr-2">* Seasonal care plan so your landscape keeps growing strong</p>
                </div>
                <img class="desktop" src="assets/PLANTS-1.jpg" alt="garden">
            </div>
        </div>
        <div class="boxPhoto desktop">
            <img src="assets/BANNER_PLANTS.jpg" class="w-100">
            <div class="overlayText">
                <P class="titlePhoto">Book your consultation design
                    A Small Update Can Go a Long Way
                    Looking to freshen things up?</P>
                <P class="textInfoGeneral mt-4">You don’t need a big renovation to make your outdoor space feel special. A few thoughtful 
                    touches like a native plant nook, seasonal blooms, or refreshed soil can bring new life and joy.
                    Our Fresh Touch Projects are designed for those who want meaningful changes without the big 
                    timeline or price tag.</P>
            </div>
        </div>
        <div class="boxPhoto mobile">
            <img src="assets/mobile/Banner-plants-mobile-abajo.jpg" class="w-100">
            <div class="overlayText">
                <P class="titlePhoto">Book your consultation design
                    A Small Update Can Go a Long Way
                    Looking to freshen things up?</P>
                <P class="textInfoGeneral mt-4 textPhoto">You don’t need a big renovation to make your outdoor space feel special. A few thoughtful 
                    touches like a native plant nook, seasonal blooms, or refreshed soil can bring new life and joy.
                    Our Fresh Touch Projects are designed for those who want meaningful changes without the big 
                    timeline or price tag.</P>
            </div>
        </div>
        <div class="gardenBox">
            <div class="d-flex containerImg">
                <img src="assets/garden_last.jpg" alt="garden">
                <div class="textGarden" id="second">
                    <p class="titleGarden">Some ways we can help:</p>
                    <p class="textInfoGeneral mb-0">* Reimagining existing garden beds</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Custom garden plans you can build yourself</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Native plant additions</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Boosts for seasonal interest or front yard charm</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Fresh layers of soil, mulch, or compost</p>
                    <p class="textInfoGeneral mt-2 mb-0">* Patio-friendly container gardens</p>
                    <p class="textInfoGeneral mt-4 mb-0">Book your Free Estimate</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btnSend" routerLink="/contact">Reach out today for a free consultation</button>
        </div>
        <div class="newInfo strong-blue-background">
            <p class="textInfoGeneral">Say goodbye to messy car rides and the hassle of plant hunting. With 
                AEP Architecture’s delivery service, getting beautiful, healthy native 
                plants delivered to your door is now simple and stress-free. Choose 
                from a wide variety of locally grown trees, shrubs, and plants—perfect 
                for weekend projects or long-term landscaping goals.</p>
        </div>
        <div>
            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide"><img src="assets/0.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/1.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/2.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/3.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/4.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/5.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/6.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/7.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/8.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                            <li class="splide__slide"><img src="assets/9.jpg" class="d-block w-100" alt="Primera foto del carrusel"></li>
                        </ul>
                </div>
            </section>
        </div>
        <div class="secondText">
            <p class="textInfoGeneral">We love helping homeowners and small businesses take ownership of their outdoor spaces. Whether you're 
                creating a peaceful backyard retreat or upgrading your storefront, we’re here to bring your vision to life with 
                quality, convenience, and expert care.</p>
            <p class="mb-0 textInfoGeneral">All of our plants are sustainably grown in the Austin area, making them perfectly suited to local soil and climate. 
                We also proudly support DIY enthusiasts who enjoy building green, beautiful spaces with their own hands.</p>
        </div>
        <div class="boxDelivery">
            <div class="d-flex boxTitle">
                <p class="d-flex my-auto">Delivery Information:</p>
            </div>
            <div class="textDelivery">
                <div class="d-flex mb-4">
                    <p class="mb-0 mr-5 titleDelivery">Flat Rate:</p>
                    <p class="mb-0 texDelivery"> $25 for deliveries within Austin city limits.</p>
                </div>
                <p class="texDelivery italic">Outside Austin? No problem—we offer custom delivery rates.</p>
                <div class="d-flex mb-4 desktop">
                    <p class="mb-0 mr-5 titleDelivery">Scheduling:</p>
                    <p class="mb-0 texDelivery">We deliver Monday through Saturday, usually within 48 hours of your order.</p>
                </div>
                <div class="d-flex mb-4 mobile">
                    <p class="mb-0 texDelivery"><span class="mb-0 mr-5 titleDelivery" >Scheduling:</span>We deliver Monday through Saturday, usually within 48 hours of your order.</p>
                </div>
                <div class="mb-4">
                    <p class="mb-0 mr-5 con-bullet titleDelivery">Looking for Something Specific or Need Design Help?</p>
                    <p class="mb-0 texDelivery">We’re happy to help you find the right plant or guide you with your landscape design.</p>
                </div>
                <div class="d-flex mb-4 desktop">
                    <p class="mb-0 mr-5 con-bullet titleDelivery">Can’t find what you’re looking for?</p>
                    <p class="mb-0 texDelivery">Let us know and we’ll do our best to track it down.</p>
                </div>
                <div class="d-flex mb-4 mobile">
                    <p class="mb-0 texDelivery"><span class="mb-0 mr-5 con-bullet titleDelivery">Can’t find what you’re looking for?</span>Let us know and we’ll do our best to track it down.</p>
                </div>
                <div class="d-flex mb-4 desktop">
                    <p class="mb-0 mr-5 con-bullet titleDelivery">Need design support?</p>
                    <p class="mb-0 texDelivery">We’ll help you plan a space that feels right and looks beautiful.</p>
                </div>
                <div class="d-flex mb-4 mobile">
                    <p class="mb-0 texDelivery"><span class="mb-0 mr-5 con-bullet titleDelivery">Need design support?</span>We’ll help you plan a space that feels right and looks beautiful.</p>
                </div>
                <div class="mt-6 emailBox">
                    <p class="mb-0 learnMore italic">{{email}}</p>
                    <p class="mb-0 learnMore italic">we’d love to hear about your project and explore how we can bring it to life.</p>
                </div>
            </div>
        </div>
        <div class="boxCatalog">
            <div class="d-flex boxTitle strong-blue-background">
                <p class="d-flex my-auto">Catalog:</p>
            </div>
            <div class="catalog">
                <p class="title desktop">Native Plants and Design</p>
                <div class="boxTitlePlants">
                    <p class="titlePlants">Perennials</p>
                </div>
                <div class="containerPlants">
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    <div class="firstBox clear-blue-background">
                        <div class="secondBox">
                            <div class="thirdBox">
                                <img src="assets/perennials/plant1.jpg">
                            </div>
                            <div class="d-flex textSecond">
                                <p class="mb-0 titlePlant">Cooper Canyon Daisy</p>
                                <div class="strong-blue-background hand boxPlus">
                                    <i class="fa-solid fa-plus hand"></i>
                                </div>
                            </div>
                        </div>
                        <div class="boxFirstText">
                            <p class="firstText">4” POT: $6</p>
                            <p class="firstText">1GAL: $12</p>
                            <p class="firstText">2 GAL: $18</p>
                            <p class="firstText">4”/20CT FL: $50</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</section>